//VARIABLES
$white: white;
$darkBlue: #606b9e;
$darkBlue2: #414c7e;
$ligthBlue: #8e98c6;
$cards: rgb(80, 29, 175);

*{
    margin: 0 auto;
    padding: 0;
}

body {
    background-color: $darkBlue;
    height: 100vh;
}

.logo-big {
    width: 300px;
    margin-bottom: 20px;
}

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

.input-data {
    padding: 4%;
    font-size: 1.5em;
}

.sing-in {
    width: 100%;
    border: white 3px solid;
    background: transparent;
    border-radius: 0;
    padding: 1%;
    font-size: 1.5em;
    color: white;
    display: block;
}

.line-block {
    display: block;
}

.sing-in:hover {
    background-color: $white;
    color: $darkBlue;
    border: $white 3px solid;
}

.text-navlink {
    font-size: 1.3em;
    color: $white;
    opacity: 0.5;
}

.text-navlink:hover {
    font-size: 1.3em;
    color: $white;
    opacity: 1;
}

header {
    height: 50px;
    background-color: $darkBlue2;
    padding: 3px 0;
}

.logo-small {
    height: 44px;
}

.txt-white {
    color: $white;
}

.team {
    overflow: auto;
}

.board {
    background-color: $ligthBlue;
    padding: 5px;
    text-justify: center;
    width: 150px;
    margin: 10px;
    border-radius: 10px;
    float: left;
}

button {
    border: none;
}

.card {
  background-color: white;
  padding: 2px;
  margin: 5px 0;
  text-align: center;
  border-radius: 5px;
}

.card-add {
  background-color: $cards;
  padding: 2px;
  margin: 5px 0;
  text-align: center;
  border-radius: 5px;
  color: white;
}

.name-user{
    color: $ligthBlue;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    display: inline;
    margin-right: 12px;
}

.sign-out{
    border: none;
    border-radius: 5px;
    background-color: #e65bb0;
    font-size: 1.2em;
    padding: 3px;
    display: inline
}

.header-user{
    position: absolute;
    right: 1%;
    top: 1%;
    display: inline
}
  
//   .boards{
//     white-space: nowrap;   
//     overflow-y: hidden;
//     padding-bottom: 10px;
//     padding-right: 56px;
//     position: absolute;
//     top: 0;
//   }

//FORMULARIO
.input-add{
    width: 100%;
}